:root {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  color: #f2f2f2;
  font-family: 'Montserrat', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.right {
  width: 65vw;
  min-width: 400px;
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

.left {
  width: 35vw;
  min-width: 400px;
  height: 100vh;
  background-color: lightcoral;
  background-image: url('./mountains.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35%;
  width: 100%;
  background-color: #1e1e1e;
}

.middle {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  background-color: #333333;
  border: 10px red;
  box-shadow: 0px 1px 5px 8px rgb(0, 0, 0);
  border-top: 5px solid rgba(65, 90, 119, 50%);
  border-bottom: 5px solid rgba(65, 90, 119, 50%);
  z-index: 100;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100%;
  background-color: #1e1e1e;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: rgba(10, 100, 156, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
  text-shadow: 2px 2px 2px black;
}

#submit-button {
  width: 200px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #f2f2f2;
  background-color: #435e7b;
  border: 2px #f2f2f2 solid;
  border-radius: 8px;
}

#submit-button:hover, #submit-button:focus {
  background-color: rgb(0, 170, 255);
  color: black;
  border: 3px solid black;
}

.left-forms {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 100px;
}

.right-forms {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.top > *, .middle > *, .bottom > * {
  margin: 30px;
}

input {
  height: 18px;
  width: 200px;
  border: none;
  border-bottom: 4px solid rgb(41, 134, 234);
  background-color: #333333;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

:focus {
  border: none;
}

input:invalid:focus {
  border: red 3px solid;
}

input:hover, input:focus {
  border-bottom: 6px solid violet;
}

input:focus {
  outline: none;
  box-shadow: 5px 4px 5px 0px #000000;
}

::-webkit-input-placeholder {
  color:rgba(145, 160, 167, 0.758)
}
::-moz-placeholder {
  color:rgba(145, 160, 167, 0.758)
}
:-ms-input-placeholder {
  color:rgba(145, 160, 167, 0.758)
}
:-moz-placeholder {
  color:rgba(145, 160, 167, 0.758);
}

.bottom > p {
  margin-top: 0px;
}

.top-headers {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 1050px;
  min-width: 280px;
}

form {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: violet;
  text-decoration: none;
}

#mountain-svg {
  width: 8rem;
  height: 8rem;
}

@media only screen and (max-width: 1000px) {
  .left-forms {
    margin-right: 10px;
  }
}